/*h4, .h4 {
  font-size: .8rem;
  color: white;
  font-weight: bold;
}

.modal-header {
  padding: 10px;
  background-color: #1285d8;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.card-header {
  background-color: #1285d8;
  font-size: .6rem;
  color: white;
  font-weight: bold;
}

.thclr {
  background-color: #80cc91;
  color: black;
}

.dp {
  height: calc(1.75rem + 2px);
}

.iframe-container {
  min-height: 100px;
  background: #fff url("https://loading.io/spinners/vortex/lg.vortex-spiral-spinner.gif") no-repeat 50% top !important;
}*/
