<!-- Row -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">

      <div class="row card-header">
        <div class="col-md-10" style="padding-top:5px;">
          <span style="font-size:large;font-weight:bold;"> DOWNLOADS </span>
        </div>

      </div>
        <spinner [visible]="isLoading" style="position: absolute;left: 50%;z-index:10010"></spinner>
      <div class="row">       
        
          <a  class="col-sm-12 btn btn-small btn-warning tip" style="line-height: 25px;font-weight: 500;" target="_blank" href="../../../assets/download/ffm_app.apk" download="ffm_app.apk">
            Download App
          </a>
           
         

      </div>

    </div>
  </div>
</div>
