.smModal > .modal-dialog {
  max-width: 500px !important;
  min-width: 500px !important;
  width: 100% !important;
}
input {  
  margin-bottom: 5px;
  margin-top: 5px;
}
select {  
  margin-bottom: 5px;
  margin-top: 5px;
}