<div class='container-fluid'>
  <div class='row'>
    <div [class]="card1style">
      <div class="row  card-header" style="height:40px;">
        <div class="col-md-10" style="padding-top:5px;">
          <div class="page-title-list">


            <span style="font-size:large;font-weight:bold;"> Report Templates</span>
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group pull-right">
            <input class="form-control" type="text" name="search" placeholder="search..." [(ngModel)]="ID"
              style="float:left; width:100px;margin:3px;">
            <button class=" btn btn-small btn-warning tip" style="margin:3px;" (click)="Add()"
             >
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive" style="padding:5px;">
        <table class="table table-hover table-striped" style="box-shadow: -2px 5px 10px 1px rgba(0,0,0,.176)">
          <thead>
            <tr class="thclr">
              <th>ID</th>
              <th>Template Name</th>
              <th>Report Name</th>
              <th>Company Name</th>
              <th>Page Code</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of templates  | paginate: { itemsPerPage: 20, currentPage: p};">
              <td>{{u.templatE_ID}}</td>
              <td>{{u.templatE_NAME}}</td>
              <td>{{u.reportName}}</td>
              <td>{{u.companyName}}</td>
              <td>
                {{u.pageCode}}

              </td>
              <td>
                <div *ngIf="true == u.status; then on else off"></div>

                <ng-template #on>
                  <input type="checkbox" [checked]="checked" pointer-events="none" disabled="disabled"
                    style="margin-top: 8px;">
                </ng-template>
                <ng-template #off>
                  <input type="checkbox" [checked]="unchecked" pointer-events="none" disabled="disabled"
                    style="margin-top: 8px;">
                </ng-template>
                <div class="btn-group" style="float:right; "  >
                  <button class="btn btn-small btn-warning tip" (click)="getDetailsByID(u);Edit();" id="edit">
                    <span class="fa fa-pencil"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" style="float:right;"></pagination-controls>
      </div>
    </div>
    <div [class]="card2style" style="padding:0px;margin:0px;border:0px;" [style.display]="card2display">
      <div class="card-header" style="height:40px;">
        <div class="page-title-list">
          <span style="font-size:large;font-weight:bold;">{{PermissionUtility.FUNCTIONALITYDETAILNAME}}</span>
        </div>
      </div>
      <div class="card-body" style="margin-top:20px;">
        <div class='container-fluid' style="width: 38vw">
          <div class='row'>
            <div class="col-md-6">
              <div class="form-group">
                <span>Template Name</span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.templatE_NAME" id="templatE_NAME" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="image-upload">
                  <label for="file">
                    <img [src]="imageUrl" style="width:100px;height:100px;position: absolute;cursor:pointer">
                  </label>

                  <input id="file" type="file" accept="image/*" (change)="fileChangeEvent($event.target.files)"
                    style="display:none" accept="image/png, image/jpeg" />
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group">
                <span>Report Name</span>
                
                <input type="text" class="form-control"  [(ngModel)]="edittemplate.reportName" id="reportName" >
             
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group">
                <span>Report Path</span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.templatE_URL" id="templatE_URL" required>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group">
                <span>Display Title</span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.displayName" id="displayName" required>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group">
                <span>Company Name</span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.companyName" id="companyName" required>
              </div>
            </div>
          </div>

          <div class='row'>
          </div>
          <div class='row'>
          </div>
          <div class='row'>
          </div>
          <div class='row'>
          </div>
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group">
                <span>Report SP</span>
                <input type="text" class="form-control"   [(ngModel)]="edittemplate.spName" id="spName" >
           
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-12">
              <div class="form-group">
                <span>Company Note </span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.companyNote" id="companyNote" >
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-md-12">

              <div class="form-group">
                <span>Company Note2 </span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.companyNote2" id="companyNote2">
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-12">
              <div class="form-group">
                <span>Company Address </span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.companyAddress" id="companyAddress" >
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-12">
              <div class="form-group">
                <span>Thanks Note </span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.thanksNote" id="thanksNote" >
              </div>
            </div>
          </div> 
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group">
                <span>Sort Order</span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.sortOrder" id="sortOrder"  >
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-md-12"> 
              <div class="form-group">
                <span>Page</span> 
                <input type="text" class="form-control" [(ngModel)]="edittemplate.pageCode" id="pageCode"  >
              </div>
            </div> 
          </div>
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group">
                <span>Tag</span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.tagName" id="tagName" >
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-md-6">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="edittemplate.isTaxable" id="isTaxable">
                <label class="form-check-label" for="exampleCheck1">Is Taxable</label>
              </div>
            </div>
          </div>
          
            <div class='row'>
              <div class="col-sm-6">
                <div class="form-group">
                  <span>Tax Rate (%)</span>
                  <input type="text" class="form-control" [(ngModel)]="edittemplate.taxRate" id="taxRate"  >
                </div>
              </div>
            </div>
         
          <div class='row'>
            <div class="col-md-6">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="edittemplate.isRPReport" id="isRPReport">
                <label class="form-check-label" for="exampleCheck1">Is RP Report</label>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-md-6">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input"  [(ngModel)]="edittemplate.showsubreport" id="showsubreport" />
                <label class="form-check-label" for="exampleCheck1">Has SubReport</label>
              </div>
            </div>
          </div>
     
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group">
                <span>Sub Report Name</span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.subReportName" id="subReportName"  >
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-sm-6">
              <div class="form-group">
                <span>Sub Report SP</span>
                <input type="text" class="form-control" [(ngModel)]="edittemplate.subReportSP" id="subReportSP"  >
              </div>
            </div>
          </div>
 
          <div class='row'>
            <div class="col-md-6">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="edittemplate.status" id="status" />
                <label class="form-check-label" for="exampleCheck1">Status</label>
              </div>
            </div>
          </div>
          <div class='row'>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><input type="checkbox" [(ngModel)]="selectall" (change)="selectAll(selectall);" /></th>
                  <th>Office</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of office  ">
                  <td> <input type="checkbox" [(ngModel)]="u.isselected" /> </td>
                  <td>{{u.officE_NAME}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class='row'>
            <div class="col-md-4"></div>
            <div class="col-md-6">
              <button type="button" class=" btn" style="float:right;margin:3px;" (click)="Cancel()"><i
                  class="fa fa-window-close-o" aria-hidden="true"></i>Cancel</button>
              <button type="button" class="btn btn-warning tip" style="float:right;margin:3px;"
               (click)="saveTemplate(edittemplate,office)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
              </button>
                 
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>