 input {  
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
   select {  
    margin-bottom: 5px;
    margin-top: 5px;
  }
 /*  .table>tbody>tr>th>td 
    {
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
  } */