input {  
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  select {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .m-100{
    margin-left: 29%;
    margin-top: 1%;

  }
  .m-40{
    margin-left: 29%;
  }


 