<!-- Row -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">

      <div class="row card-header" style="height: auto;">
        <div class="col-md-10">
          <span class="input-group" style="font-size:large;font-weight:bold;"> {{permissionUtility.FUNCTIONALITYNAME}} </span>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input class="form-control" type="text" name="search" placeholder="search..." #input (keydown.enter)='$event.target.blur()' (blur)="getGrid(input.value)" [(ngModel)]="id" style="margin:1px;">
           <div class="input-group-append order-last">
            <button [style.display]="permissionUtility.PermissionAdd" class=" btn btn-small btn-warning tip" style="margin:3px 3px 3px 0px;" id="myInput" (click)="open(content)">
              <i class="fa fa-plus"></i>
            </button>
           </div>            
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isLoading" style="background-color:transparent; width: 100%;height:100vh;position :absolute;z-index:10000;overflow:hidden;">

        <spinner [visible]="isLoading" style="position: absolute;left: 50%;z-index:10010"></spinner>

      </div>
      <div class="card-body table-responsive table-shadow-padding">
        <table class="table table-hover table-striped table-shadow">
          <thead>
            <tr class="thclr">
              <th style="width: 10%">ID</th>
              <th style="width: 15%">Name</th>
              <th style="width: 15%">Designation</th>
              <th style="width: 15%">Department</th>
              <th style="width: 15%">Office</th>
              <th style="width: 15%">Opening Balance</th>
              <th style="width: 15%">Leave Type</th>

              <th style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <!--<spinner [visible]="isLoading" style="position: absolute;left: 50%; "></spinner>-->
            <tr *ngFor="let e of gridlist   | paginate: { itemsPerPage: 14, currentPage: p};">
              <td>{{e.leavebalancecode}}</td>
              <td>{{e.empname}}</td>
              <td>{{e.designation}}</td>
              <td>{{e.department}}</td>
              <td>{{e.office}}</td>
              <td>{{e.openingbalance}}</td>
              <td>{{e.leavetypename}}</td>

              <td>
                <div class="btn-group" style="float:right; ">
                  <button [style.display]="permissionUtility.PermissionView" style="padding:  6px 7px;" class="btn btn-small btn-warning tip" (click)="getDetailsByID(e.empcode,e.leavebalancecode,content)"
                     id="view">
                    <span ><img src="../../../../../../assets/images/icon/report.png" ></span>
                  </button>
                </div>
                <div class="btn-group" style="float:right; ">
                  <button [style.display]="permissionUtility.PermissionEdit" class="btn btn-small btn-warning tip" (click)="getDetailsByID(e.empcode,e.leavebalancecode,content)"
                     id="edit">
                    <span class="fa fa-pencil"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" style="float:right;"></pagination-controls>
      </div>

    </div>
  </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" style="font-weight: bold;">
        {{permissionUtility.FUNCTIONALITYDETAILNAME}}
      </h5>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="alertWarning" style="display:none">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
    </div>

    <div class="modal-body">

      <div class="row">
        <div class="col-sm-1">
          
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <span>Employee:</span>
            <div class="inner-addon left-addon" style="margin-left: 30px;margin-top: 5px;">              
              <i class="fa fa-user" style="font-size:medium" aria-hidden="true"></i>
              <div *ngIf="btnmode; then On else Off"> </div>
              <ng-template #On>
                <ng-select2 [data]="emplist" id="empcode" [value]="empmodel" (valueChanged)="getEmployeesChange($event)" [width]="300">
                </ng-select2>
              </ng-template>
              <ng-template #Off>
                <ng-select2 [data]="emplist" id="empcode" [value]="empmodel" (valueChanged)="getEmployeesChange($event)" [width]="300" disabled="true">
                </ng-select2>
              </ng-template>
            </div>
            </div>
          </div>
        
        <div class="col-sm-3">
          <div class="form-group">
            <span>Designation:</span>
            <div class="inner-addon left-addon"  style="width: 300px; margin-left: 30px;">
              <i class="fa fa-user-md" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
              <select class="form-control" [(ngModel)]="designationcode" id="designationcode" disabled="disabled">
                <option *ngFor="let o of designation" [value]="o.designationcode">{{o.designationname}}</option>
              </select>
            </div>
          </div>
          </div>
         
        <div class="col-sm-3">
          <div class="form-group">
            <span>Department:</span>
            <div class="inner-addon left-addon"  style="width: 300px; margin-left: 30px;">
              <i class="fa fa-building-o" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
              <select class="form-control" [(ngModel)]="departmentcode" id="departmentcode" disabled="disabled">
                <option *ngFor="let o of department" [value]="o.departmentcode">{{o.departmentname}}</option>
              </select>
            </div>
          </div>


          </div>
      </div>

      <div class="row">
        <div class="col-sm-1">
          
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <span>Office</span>
            <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
              <i class="fa fa-building" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
              <select class="form-control" [(ngModel)]="officecode" id="officecode" disabled="disabled">
                <option *ngFor="let o of office" [value]="o.officecode">{{o.officename}}</option>
              </select>
            </div>
          </div>
          </div>

         
        <div class="col-sm-3">
          <div class="form-group">
            <span>Category</span>
            <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
              <i class="fa fa-trello" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
              <select class="form-control" [(ngModel)]="categorycode" id="categorycode" disabled="disabled">
                <option *ngFor="let o of category" [value]="o.categorycode">{{o.categoryname}}</option>
              </select>
            </div>
          </div>
          </div>

      </div>

      <div class="row">
        <div *ngIf="btnmode; then LeaveTypeAdd else LeaveTypeUpdate"> </div>
        <ng-template #LeaveTypeAdd>
          <div class="col-sm-1">
            
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <span>Leave Type</span>
              <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
                <i class="fa fa-calendar-check-o" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
                <select class="form-control" [(ngModel)]="leavetypecode" id="leavetypecode" (change)="getLeaveTypeChange()">
                  <option *ngFor="let o of leavetype" [value]="o.leavetypE_CODE">{{o.type_Name}}</option>
                </select>
              </div>
            </div>
            </div>
        </ng-template>
        <ng-template #LeaveTypeUpdate>
           <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <div class="form-group">
              <span>Leave Type</span>
              <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
                <i class="fa fa-calendar-check-o" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
                <select class="form-control" [(ngModel)]="leavetypecode" id="leavetypecode" (change)="getLeaveTypeChange()" disabled>
                  <option *ngFor="let o of leavetype" [value]="o.leavetypE_CODE">{{o.type_Name}}</option>
                </select>
              </div>
            </div>
            </div>
        </ng-template>  
        <div class="col-sm-3" [style.display]="addtextbox">
          <div class="form-group">
            <span>Leave Balance</span>
            <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
              <i class="fa fa-calendar-plus-o" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
              <input type="number" min="0" max="365" class="form-control" [(ngModel)]="leavebalance" id="leavebalance" readonly="readonly">
            </div>
          </div>
        </div> 
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-sm-3">
          <div class="form-group">
            <span>Opening Balance</span>
            <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
              <i class="fa fa-calendar-plus-o" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
              <input type="number" onClick="this.select();" min="0"  max="365" class="form-control" [(ngModel)]="openingbalance" id="openingbalance" [style.display]="showbtn">
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--<spinner [visible]="isLoading" style="position: absolute;left: 50%; "></spinner>-->
    <div class="modal-footer">
      <!-- <a class="btn btn-secondary" routerLink="/report-tab" newtab>Viewer</a>-->
      <div *ngIf="btnmode; then submitAdd else submitUpdate"> </div>
      <ng-template #submitAdd>
        <button id="submitAdd" [style.display]="showbtn" type="button" tabindex="45" class="btn btn-small btn-warning tip"
                (click)="saveEmployeeLeaveBal(leavetypecode, openingbalance)">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>Save & Close
        </button>
      </ng-template>
      <ng-template #submitUpdate>
        <button [style.display]="permissionUtility.PermissionEdit" id="submitUpdate" type="button" tabindex="45" class="btn btn-small btn-warning tip"
                (click)="updateEmployeeLeaveBal(leavetypecode, openingbalance)">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>Save & Close
        </button>
      </ng-template>
      <button type="button" class="btn btn-small" tabindex="46" id="x" (click)="c('Close click');"><i class="fa fa-minus-square-o" aria-hidden="true"></i>Close</button>
    </div>
  </ng-template>
  </div>

