<!-- Row -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">

      <div class="row card-header">
        <div class="col-md-10" style="padding-top:5px;">
          <span style="font-size:large;font-weight:bold;"> {{permissionUtility.FUNCTIONALITYNAME}} </span>
        </div>
        <div class="col-md-2">
          <div class="input-group pull-right">
            <input type="text" style="margin-right:5px;" [(ngModel)]="id" id="id" placeholder="search..." class="form-control" />
            <button [style.display]="permissionUtility.PermissionAdd" class=" btn btn-small btn-warning tip" id="myInput" (click)="open(content)">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isLoading" style="background-color:transparent; width: 100%;height:100vh;position :absolute;z-index:10000;overflow:hidden;">
        <spinner [visible]="isLoading" style="position: absolute;left: 50%;z-index:10010"></spinner>
      </div>

      <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
          <thead>   
            <tr class="thclr">
              <th style="width: 10%">ID</th>
              <th style="width: 10%">Date</th>
              <th style="width: 10%">Area</th>
              <th style="width: 20%">Sale Officer</th>
              <th style="width: 10%">Discount</th>
              <th style="width: 10%">Quantity</th>
              <th style="width: 20%">Remarks</th>
              <th style="width: 10%">Status</th>
              <th style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <!--<spinner [visible]="isLoading" style="position: absolute;left: 50%; "></spinner>-->
            <tr *ngFor="let e of gridlist   | paginate: { itemsPerPage: 14, currentPage: p};">
              <td>{{e.bookingcode}}</td>
              <td>{{e.date}}</td>
              <td>{{e.area}}</td>
              <td>{{e.saleofficer}}</td>
              <td>{{e.discount}}</td>
              <td *ngFor="let ee of e.quantity ">
                {{ee.count}}
              </td>
              <td>{{e.remarks}}</td>
              <td>
                <div *ngIf="e.status==0; then draft else saved"> </div>
                <ng-template #draft>DRAFT</ng-template>
                <ng-template #saved>
                  <div *ngIf="e.status==1; then saved else cancel"> </div>
                  <ng-template #saved>ORDERED</ng-template>
                  <ng-template #cancel>CANCELLED</ng-template>
                </ng-template>
              </td>
              <td>
                <div class="btn-group" style="float:right; ">
                  <button [style.display]="permissionUtility.PermissionEdit" class="btn btn-small btn-warning tip" (click)="getDetailsByID(e.bookingcode,content)"
                          id="edit">
                    <span class="fa fa-pencil"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" style="float:right;"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" style="padding-bottom: 30px;">
      <h5 class="modal-title" style="font-weight: bold;">
        {{permissionUtility.FUNCTIONALITYDETAILNAME}}
      </h5>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="alertWarning" style="display:none">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-2">
          <span>Due Date:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <div *ngIf="btnmode; then DateToOn else DateTooff"> </div>
            <ng-template #DateToOn>
              <div class="input-group">
                <input class="form-control" name="a" [(ngModel)]="duedate.model"
                       displayMonths="1" navigation="none" ngbDatepicker #a="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-small" (click)="a.toggle()">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>


            </ng-template>
            <ng-template #DateTooff>
              <div class="input-group">
                <input class="form-control" name="a" [(ngModel)]="duedate.model"
                       displayMonths="1" navigation="none" ngbDatepicker #a="ngbDatepicker" disabled="disabled">
                <div class="input-group-append">
                  <button class="btn btn-small" (click)="a.toggle()" disabled="disabled">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </ng-template>

          </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2">
          <span>Sale Officer:</span>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="inner-addon left-addon">
              <i class="fa fa-male" aria-hidden="true"></i>
              <div *ngIf="btnmode; then submitAddSaleofficer else submitUpdateSaleofficer"> </div>
              <ng-template #submitAddSaleofficer>
                <select class="form-control" [(ngModel)]="saleofficercode" id="order_Envoy">
                  <option *ngFor="let u of saleofficer " [value]="u.order_Envoy">{{u.emp_Name}}</option>
                </select>
              </ng-template>
              <ng-template #submitUpdateSaleofficer>
                <select class="form-control" [(ngModel)]="saleofficercode" id="order_Envoy" disabled="disabled">
                  <option *ngFor="let u of saleofficer " [value]="u.order_Envoy">{{u.emp_Name}}</option>
                </select>
              </ng-template>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-2">
          <span>Area:</span>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="inner-addon left-addon">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <div *ngIf="btnmode; then submitAddArea else submitUpdateArea"> </div>
              <ng-template #submitAddArea>
                <select class="form-control" [(ngModel)]="areacode" id="areacode" (change)="getCustomers(areacode)">
                  <option *ngFor="let i of area " [value]="i.areacode">{{i.areaname}}</option>
                </select>
              </ng-template>
              <ng-template #submitUpdateArea>
                <select class="form-control" [(ngModel)]="areacode" id="areacode" (change)="getCustomers(areacode)" disabled="disabled">
                  <option *ngFor="let i of area " [value]="i.areacode">{{i.areaname}}</option>
                </select>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <!--<span>Discount:</span>-->
        </div>
        <div class="col-md-2">
          <!--<div class="form-group">
            <input type="number" min="0" class="form-control" [(ngModel)]="discount" id="discount">
          </div>-->
        </div>
        <div class="col-md-2">
          <span>Customers Paging:</span>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="inner-addon left-addon">
              <i class="fa fa-pagelines" aria-hidden="true"></i>
              <div *ngIf="btnmode; then submitAddPagingList else submitUpdatePagingList"> </div>
              <ng-template #submitAddPagingList>
                <select class="form-control" [(ngModel)]="PagingListIndex" id="PagingListIndex" (change)="checkCustomersPage(PagingListIndex)">
                  <option *ngFor="let i of PagingList " [value]="i.index">{{i.desc}}</option>
                </select>
              </ng-template>
              <ng-template #submitUpdatePagingList>
                <select class="form-control" [(ngModel)]="PagingListIndex" id="PagingListIndex" (change)="checkCustomersPage(PagingListIndex)" disabled="disabled">
                  <option *ngFor="let i of PagingList " [value]="i.index">{{i.desc}}</option>
                </select>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <table class="table table-hover table-striped" style="border-bottom:1px solid lightgray">
          <thead style="display: block;width:99%;">
            <tr class="thclr row">
              <!--<th style="width: 5%">SR #</th>-->
              <th style="width: 15%;margin-left:15px;border:1px solid #808080">Item Name</th>
              <th style="width: 4%;border:1px solid #808080"><span style="writing-mode: vertical-rl;text-orientation: mixed;height:130px;">Stock</span></th>
              <th style="width: 4%;border:1px solid #808080"><span style="writing-mode: vertical-rl;text-orientation: mixed;height:130px;">Pending</span></th>
              <th style="width: 4%;border:1px solid #808080"><span style="writing-mode: vertical-rl;text-orientation: mixed;height:130px;">Price</span></th>
              <th *ngFor="let c of CustomersTitles" style="width: 4.5%;border:1px solid #808080" [title]="c.customername">
                <span style="writing-mode: vertical-rl;text-orientation: mixed;height:130px;">{{c.customername}}</span>
              </th> 
              <th style="width: 4%;border:1px solid #808080"><span style="writing-mode: vertical-rl;text-orientation: mixed;height:130px;">Total Qty</span></th>
            </tr>
          </thead>
          <tbody style="max-height: 275px;overflow: hidden scroll;display: block;width:100%;">
            <!--<spinner [visible]="isLoading" style="position: absolute;left: 50%; "></spinner>-->
            <tr *ngFor="let io of ItemsOrderGrid;let i = index " class="row">
              <td style="width: 15%;margin-left:15px;">{{io.iteM_NAME}}</td>
              <td style="width: 4%;">{{io.stock}}</td>
              <td style="width: 4%;">{{io.pending}}</td>
              <td style="width: 4%;">{{io.price}}</td>
              <td *ngFor="let c of io.customer;let y = index;" style="width: 4.5%;padding-left:0px;padding-right:0px;" [title]="c.customername">
                <input id="CROW-{{i}}-{{1+y}}" value="0" [(ngModel)]="c.qty" class="form-control" onClick="this.select()" (change)="checkStock(io.iteM_CODE,io.stock,io.pending,c.customercode)"
                       (keyup)="processKeyUp($event)" />
              </td>
              <td style="width: 4%;">
                <b>{{io.totalqty}}</b>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <!--<div>
        <pagination-controls (pageChange)="a = $event" style="float:right;"></pagination-controls>
      </div>-->
      <div class="row">
        <div class="col-md-2">
          <span>Remarks:</span>
        </div>
        <div class="col-md-8">
          <div class="inner-addon left-addon">
            <i class="fa fa-align-justify" aria-hidden="true"></i>
            <fieldset class="form-group">
              <textarea [(ngModel)]="remarks" id="remarks" name="textarea" placeholder="Please type here..." class="form-control" style="height:auto;"
                        rows="3"></textarea>
            </fieldset>
          </div>
        </div>
        </div>
    </div>
    <!--<spinner [visible]="isLoading" style="position: absolute;left: 50%; "></spinner>-->
    <div class="modal-footer" style="margin-bottom: 10px;padding-top: 15px;">
      <div class="row" style="position: absolute;left: 30px;">
        <!--Excel Show-->
        <button type="button" id="viewExcel" style="cursor:pointer; margin-left:5px;" class="btn btn-small btn-warning tip" (click)="onNavigate('/booking-sheet-excel')"><i class="fa fa-file-excel-o"></i></button>
      </div>
      <!--Show Order View-->
      <div id="viewBtn">
        <span>Show</span>
        <input type="checkbox" id="isView" name="isView" [(ngModel)]="isView" />
      </div>
      <div *ngIf="btnmode; then submitAdd else submitUpdate"> </div>
      <ng-template #submitAdd>
        <button id="submitAdd" type="button" class="btn btn-small btn-warning tip" (click)="saveData(0);"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save & Close</button>
        <button id="submitDraft" type="button" class="btn btn-small btn-warning tip" (click)="saveData(1);"><i class="fa fa-file-text-o" aria-hidden="true"></i>Draft</button>
      </ng-template>
      <ng-template #submitUpdate>
        <!--<button id="submitCancel" type="button" class="btn btn-small btn-warning tip" style="left:5px;position:absolute;" (click)="cancelBookingSheet();"><i class="fa fa-window-close-o" aria-hidden="true"></i>Cancel</button>-->
        <button [style.display]="permissionUtility.PermissionEdit" id="submitUpdate" type="button" class="btn btn-small btn-warning tip" (click)="updateData(0);"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save & Close</button>
        <button id="submitUpdateDraft" type="button" class="btn btn-small btn-warning tip" (click)="updateData(1);"><i class="fa fa-file-text-o" aria-hidden="true"></i>Draft</button>
      </ng-template>
      <button type="button" class="btn btn-small" (click)="c('Close click');"><i class="fa fa-window-close-o" aria-hidden="true"></i>Close</button>
    </div>
  </ng-template>
</div>




