/*.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #0094ff;
  background-color: #eeeff8;
  border-color: #0094ff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(226, 226, 226, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(228, 229, 230, 0.5);
}

.btn-outline-secondary:hover {
  color: #0094ff;
  background-color: #eeeff8;
  border-color: #0094ff;
}

.custom-class {
  padding: 2px;
}


.arrow-right {
  height: 0px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid lightgray;
  float: right;
}*/
