<!-- Row -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">

      <div class="row card-header">
        <div class="col-md-10" style="padding-top:5px;">
          <span style="font-size:large;font-weight:bold;"> {{FUNCTIONALITYNAME}} </span>
        </div>
        <div class="col-md-2">
          <div class="input-group pull-right">
            <input class="form-control" type="text" name="search" placeholder="search..." [(ngModel)]="id" style="float:left; width:100px;margin:3px;">
            <button [style.display]="PermissionAdd" class=" btn btn-small btn-warning tip" style="margin:3px;" id="myInput" (click)="open(content)">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>



      <div class="row" *ngIf="isLoading" style="background-color:transparent; width: 100%;height:100vh;position :absolute;z-index:10000;overflow:hidden;">

        <spinner [visible]="isLoading" style="position: absolute;left: 50%;z-index:10010"></spinner>

      </div>
      <div class="card-body table-responsive table-shadow-padding">
        <table class="table table-hover table-striped table-shadow">
          <thead>

            <tr class="thclr">
              <th style="width: 15%">Month</th>
              <th style="width: 15%">Office</th>
              <th style="width: 15%">Employee Name</th>
              <th style="width: 15%">Package</th>
              <th style="width: 15%">Salary Days</th>
              <th style="width: 15%">Payment</th>
              <th style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let e of gridlist   | paginate: { itemsPerPage: 14, currentPage: p};">
              <td>{{e.salarymonth}}</td>
              <td>{{e.office}}</td>
              <td>{{e.empname}}</td>
              <td>{{e.package | number: '2.'}}</td>
              <td>{{e.salarydays}}</td>
              <td>{{e.payment | number: '2.'}}</td>
              <td>
                <div class="btn-group" style="float:right; ">
                  <button [style.display]="PermissionView" class="btn btn-small btn-warning tip" (click)="getDetailsByID(e.salaryhistorycode,contentdetail)"
                          id="edit">
                    <span class="fa fa-pencil"></span>
                  </button>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" style="float:right;"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">


  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" style="font-weight: bold;">
        {{FUNCTIONALITYDETAILNAME}}
      </h5>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="alertWarning" style="display:none">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
    </div>
    <div class="modal-body">

      <!--<div class="row">
    <div class="col-sm-2">
      <span>Current Month:</span>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="monthname" id="monthname" readonly="readonly">
      </div>
    </div>


  </div>-->
      <div class="row">
        <div class="col-sm-2">
          <span>Date From:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="a" [(ngModel)]="effectivefromdate.model" ngbDatepicker #a="ngbDatepicker" tabindex="6">
              <div class="input-group-append">
                <button class="btn btn-small " (click)="a.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <span>Category:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <div *ngIf="btnmode; then CategoryOn else CategoryOff"> </div>
            <ng-template #CategoryOn>
              <!--(change)="getEmployees(officecode)">-->
              <select class="form-control" [(ngModel)]="categorycode" id="categorycode">

                <option *ngFor="let o of category" [value]="o.categorycode">{{o.categoryname}}</option>
              </select>
            </ng-template>
            <ng-template #CategoryOff>
              <select class="form-control" [(ngModel)]="categorycode" id="categorycode" disabled>

                <option *ngFor="let o of category" [value]="o.categorycode">{{o.categoryname}}</option>
              </select>
            </ng-template>

          </div>
        </div>
        <div class="col-sm-2">
          <span>Increment %:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input type="number" class="form-control" [(ngModel)]="incrementrate" id="grosssalary">
          </div>
        </div>
        <!--<div class="col-sm-2">(change)=" getAllowanceGrids()"
    <span>Employee:</span>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <div *ngIf="btnmode; then On else Off"> </div>
      <ng-template #On>
        <ng-select2 [data]="emplist" id="empcode" [value]="empmodel" (valueChanged)="getEmployeesChange($event)" [width]="190" placeholder="Select...">
        </ng-select2>
      </ng-template>
      <ng-template #Off>
        <ng-select2 [data]="emplist" id="empcode" [value]="empmodel" (valueChanged)="getEmployeesChange($event)" [width]="190" disabled="true">
        </ng-select2>
      </ng-template>

    </div>
  </div>-->

      </div>
      <div class="row">

        <div class="col-sm-7">

        </div>
        <div class="col-sm-1">
          <div *ngIf="btnmode; then checkOn else checkoff"> </div>
          <ng-template #checkOn>

            <button type="button" class="btn btn-small btn-warning tip" id="review" (click)="reviewSalary()">Load</button>

          </ng-template>
          <ng-template #checkoff>


          </ng-template>
        </div>
      </div>

      <div class="card-body table-responsive table-shadow-padding">
        <table class="table table-hover table-striped table-shadow">
          <thead>
            <tr class="thclr">
              <th style="width: 5%">SR #</th>
              <th style="width: 15%">Employee Name</th>
              <th style="width: 10%">Package Before</th>
              <th style="width: 10%">Package After</th>
              <th style="width: 5%"></th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let e of salary;let i = index">
              <td>{{i + 1}}</td>
              <td>{{e.emP_NAME}}</td>
              <td>{{e.grosS_SALARY | number: '2.'}}</td>
              <td>{{e.grosS_INCREMENT | number: '2.'}}</td>              


              <div *ngIf="btnmode; then checkOn else checkoff"> </div>
              <ng-template #checkOn>
                <td><input type="checkbox" [(ngModel)]="e.status"></td>
              </ng-template>
              <ng-template #checkoff>
                <td><input type="checkbox" [(ngModel)]="e.status" disabled="disabled"></td>
              </ng-template>
            </tr>



          </tbody>
        </table>

      </div>


    </div>

    <div class="modal-footer">
      <!-- <a class="btn btn-secondary" routerLink="/report-tab" newtab>Viewer</a>-->
      <div *ngIf="btnmode; then submitAdd else submitUpdate"> </div>
      <ng-template #submitAdd>
        <!--<button type="button" class="btn btn-small btn-warning tip" style="left:5px;position:absolute;" (click)="updateData();">Cancel</button>-->
        <button id="submitAdd" type="button" class="btn btn-small btn-warning tip"
                (click)="saveData();">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>Save
        </button>
      </ng-template>
      <ng-template #submitUpdate>
        <!--<button type="button" class="btn btn-small btn-warning tip" style="left:5px;position:absolute;" (click)="cancelData();">Cancel</button>
        <button id="submitUpdate" type="button"  class="btn btn-small btn-warning tip"
                (click)="updateData();">
          Save..
        </button>-->
      </ng-template>
      <button type="button" class="btn btn-small" (click)="c('Close click');">
        <i class="fa fa-minus-square-o" aria-hidden="true"></i>
        Close
      </button>
    </div>
  </ng-template>

  <!----Salary Package---->
  <ng-template #contentdetail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" style="font-weight: bold;">
        {{FUNCTIONALITYDETAILNAME}}
      </h5>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="alertWarning" style="display:none">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
    </div>

    <div class="modal-body">

      <div class="row">
        <div class="col-sm-2">
          <span>Employee:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="uempname" id="uempname" readonly="readonly">
          </div>

        </div>
        <div class="col-sm-2">
          <span>Designation:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="udesignation" id="udesignation" readonly="readonly">
          </div>
        </div>
        <div class="col-sm-2">
          <span>Department:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="udepartment" id="udepartment" readonly="readonly">
          </div>


        </div>


      </div>
      <div class="row">
        <div class="col-sm-2">
          <span>Office:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="uofficename" id="uofficename" readonly="readonly">
          </div>
        </div>
        <div class="col-sm-2">
          <span>Employement Type:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="uemploymenttype" id="uemploymenttype" readonly="readonly">
          </div>
        </div>
        <div class="col-sm-2">
          <span>Joining Date:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="ujoiningdate" id="ujoiningdate" readonly="readonly">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <span>Package:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input class="form-control" [ngModel]="upackage  | number : '2.'" (ngModelChange)="upackage = $event" id="upackage" readonly="readonly">
          </div>
        </div>

      </div>



      <div class="row" style="margin-left:5px;margin-right:5px;margin-bottom:5px;">
        <div style="width:32%;margin-left:10px;">

          <span>Allowances:</span>
        </div>
        <div style="width:32%;margin-left:10px;">

          <span>Contributions:</span>
        </div>
        <div style="width:32%;margin-left:10px;">

          <span>Deductions:</span>
        </div>
      </div>
      <div class="row" style="margin-left:5px;margin-right:5px;">

        <div style="width:32%;height:300px;margin-left:10px;overflow-y:auto;border:1px solid lightgray;">
          <div class="form-group">
            <table class="table table-hover table-striped">
              <thead>
                <tr class="thclr">
                  <th style="width: 5%"></th>
                  <th style="width: 10%">Code</th>
                  <th style="width: 45%">Description</th>
                  <th style="width: 40%">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of uallowance;let i = index">

                  <!--<div *ngIf="e.isReadonly==1; then readonlyOn else readonlyOff"> </div>
                  <ng-template #readonlyOn>-->
                  <td></td>
                  <td>{{e.allowancE_CODE}}</td>
                  <td>{{e.allowancE_NAME}}</td>
                  <td><input class="form-control" [ngModel]="e.amount  | number : '2.'" (ngModelChange)="e.amount = $event" id="amount" disabled="disabled"></td>
                  <!--   </ng-template>
                  <ng-template #readonlyOff>

                  </ng-template>-->

                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div style="width:32%;height:300px;margin-left:10px;overflow-y:auto;border:1px solid lightgray;">
          <div class="form-group">
            <table class="table table-hover table-striped">
              <thead>
                <tr class="thclr">
                  <th style="width: 5%"></th>
                  <th style="width: 10%">Code</th>
                  <th style="width: 45%">Description</th>
                  <th style="width: 40%">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of ucontribution;let i = index">

                  <!--<div *ngIf="e.isReadonly==1; then readonlyOn else readonlyOff"> </div>
                  <ng-template #readonlyOn>-->
                  <td></td>
                  <td>{{e.allowancE_CODE}}</td>
                  <td>{{e.allowancE_NAME}}</td>
                  <td><input class="form-control" [ngModel]="e.amount  | number : '2.'" (ngModelChange)="e.amount = $event" id="amount" disabled="disabled"></td>
                  <!--</ng-template>
                  <ng-template #readonlyOff>

                  </ng-template>-->

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div style="width:32%;max-height:300px;margin-left:10px;overflow-y:auto;border:1px solid lightgray;">
          <div class="form-group">
            <table class="table table-hover table-striped">
              <thead>
                <tr class="thclr">
                  <th style="width: 5%"></th>
                  <th style="width: 10%">Code</th>
                  <th style="width: 45%">Description</th>
                  <th style="width: 40%">Amount</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let e of udeduction;let i = index">

                  <!--<div *ngIf="e.isReadonly==1; then readonlyOn else readonlyOff"> </div>
                  <ng-template #readonlyOn>-->
                    <td></td>
                    <td>{{e.allowancE_CODE}}</td>
                    <td>{{e.allowancE_NAME}}</td>
                    <td><input class="form-control" [ngModel]="e.amount  | number : '2.'" (ngModelChange)="e.amount = $event" id="amount" disabled="disabled"></td>
                  <!--</ng-template>
                  <ng-template #readonlyOff>

                  </ng-template>-->

                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="row" style="margin-left:5px;margin-right:5px;margin-bottom:20px;">
        <div style="width:22%;margin-left:10px;">
          <div class="form-group" style="background-color:lightgray">
            <span>Total Allowances:</span>
          </div>
        </div>
        <div style="width:10%;">
          <div class="form-group" style="background-color:lightgray">
            <span>{{uallowancetotal | number: '2.'}}</span>
          </div>
        </div>

        <div style="width:22%;margin-left:10px;">
          <div class="form-group" style="background-color:lightgray">
            <span>Total Contributions:</span>
          </div>
        </div>
        <div style="width:10%;">
          <div class="form-group" style="background-color:lightgray">
            <span>{{ucontributiontotal | number: '2.'}}</span>
          </div>
        </div>

        <div style="width:22%;margin-left:10px;">
          <div class="form-group" style="background-color:lightgray">
            <span>Total Deductions:</span>
          </div>
        </div>
        <div style="width:10%;">
          <div class="form-group" style="background-color:lightgray">
            <span>{{udeductiontotal | number: '2.'}}</span>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col-md-2">
          <span>Remarks:</span>
        </div>
        <div class="col-md-10">
          <fieldset class="form-group">
            <textarea [(ngModel)]="remarks" id="remarks" name="textarea" placeholder="Please type here..." class="form-control" style="height:auto;"
                      rows="4" readonly="readonly"></textarea>
          </fieldset>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <!-- <a class="btn btn-secondary" routerLink="/report-tab" newtab>Viewer</a>-->
      <div *ngIf="btnmode; then submitAdd else submitUpdate"> </div>
      <ng-template #submitAdd>
        <button type="button" class="btn btn-small btn-warning tip" style="left:5px;position:absolute;" (click)="cancelSalary();" [style.display]="ucancelbtn"><i class="fa fa-minus-square-o" aria-hidden="true"></i>Cancel</button>
        <!--<button id="submitUpdate" type="button" tabindex="45" class="btn btn-small btn-warning tip"
                (click)="updateData();">
          Save..
        </button>-->
      </ng-template>
      <ng-template #submitUpdate>

      </ng-template>
      <button type="button" class="btn btn-small" id="x" tabindex="46" (click)="c('Close click')"><i class="fa fa-minus-square-o" aria-hidden="true"></i>Close</button>
    </div>
  </ng-template>
</div>



