<!-- Row -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">



      <div class="row card-header">
        <div class="col-md-10" style="padding-top:5px;">
          <span style="font-size:large;font-weight:bold;"> {{permissomUtility.FUNCTIONALITYNAME}} </span>
        </div>
        <div class="col-md-2">
          <div class="input-group pull-right">
            <input type="text"  #input (keydown.enter)="$event.target.blur()" (blur)="searchInvoiceDetails(input.value)" [(ngModel)]="invoice_ID" id="invoice_ID" placeholder="search..." class="form-control" />
            <button class=" btn btn-small btn-warning tip" id="myInput" (click)="open(content)">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isLoading" style="background-color:transparent; width: 100%;height:100vh;position :absolute;z-index:10000;overflow:hidden;">
        <spinner [visible]="isLoading" style="position: absolute;left: 50%;z-index:10010"></spinner>
      </div>


      <div class="card-body table-responsive table-shadow-padding">
        <table class="table table-hover table-striped table-shadow">
          <thead>
            <tr class="thclr">
              <th>ID </th>
              <th>Invoice No</th>
              <th>Supplier Name</th>
              <th>Invoice Date</th>
              <th>Total Cost</th>
              <th>Total Discount</th>
              <th>Total Amount</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <!--<spinner [visible]="isLoading" style="position: absolute;left: 50%; "></spinner>-->
            <tr *ngFor="let dt of invoices  | paginate: { itemsPerPage: 14, currentPage: p};">
              <td>{{dt.purchase_Return_Invoice_ID}}</td>
              <td>{{dt.return_Invoice_NO}}</td>
              <td>{{dt.supplier_Name}}</td>
              <td>{{dt.return_Invoice_Date | date:"dd/MM/yyyy"}} </td>
              <td>{{dt.total_Cost  | number: '1.2-5'}}</td>
              <td>{{dt.total_Discount  | number: '1.2-5'}}</td>
              <td>{{dt.total_Amount  | number: '1.2-5'}}</td>
              <td>
                <div class="btn-group" style="float:right; ">
                  <button class="btn btn-small btn-warning tip" (click)="getInvoiceDetailsByID(dt.purchase_Return_Invoice_ID,content)"
                          id="edit">
                    <span class="fa fa-pencil"></span>
                  </button>
                  <!--<button class="btn btn-small btn-danger tip" data-original-title="Remove" type="button" value="Delete" (click)="getDetailsByID(dt.purchase_Order_ID)"
                          id="remove">
                    <span class="fa fa-trash"></span>
                  </button>-->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" style="float:right;"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">



  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" style="font-weight: bold;">
        {{permissomUtility.FUNCTIONALITYDETAILNAME}}
      </h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="alertWarning" style="display:none">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
    </div>
    <div class="modal-body">
      <div class="row" style="padding-bottom:5px;">
        <div class="col-md-2">
          <span>Date:</span>
        </div>
        <div class="col-md-10" style="text-align:right">
          <span>Balance:</span>
        </div>
      </div>
      <div class="row">

        <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="return_Invoice_Date" [(ngModel)]="return_Invoice_Date.model" ngbDatepicker #dd="ngbDatepicker" (ngModelChange)="changeReturnDate($event)">
              <div class="input-group-append">
                <button class="btn btn-small " (click)="dd.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10" style="text-align:right">
          <span style="font-size:30px;font-weight:600">PKR {{TotalAmount() | number: '1.2-5'}}</span>
        </div>
      </div>
      <div class="row" style="padding-bottom:5px;">
        <div class="col-md-4">
          <span>Supplier:</span>
        </div>
        <div class="col-md-2">
          <span>PRN:</span>
        </div>
        <div class="col-md-2" [style.display]="ShowPurchaseInvoice">
          <span>Invoice:</span>
        </div>
        <div class="col-md-2" [style.display]="ShowPurchaseInvoice">
          <span>Invoice Amount:</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-left:40px">
          <div class="form-group">
            <div class="inner-addon left-addon">
              <i class="fa fa-group" style="font-size:medium" aria-hidden="true"></i>
              <ng-select2 [data]="suppliers" id="supplier_ID" [value]="supplier_ID" (valueChanged)="changeSupplier($event)" [width]="400">
              </ng-select2>
            </div>
          </div>
        </div>
        <div class="col-md-2" style="padding-left:40px">
          <div class="form-group">
            <div class="inner-addon left-addon">
              <i class="fa fa-list-alt  " style="font-size:medium" aria-hidden="true"></i>
              <select id="purchase_Return_ID" [(ngModel)]="purchase_Return_ID" (change)="changeOrder(supplier_ID,purchase_Return_ID)" class="form-control">
                <option *ngFor="let o of orders" [value]="o.purchase_Return_ID">{{o.prN_NO}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-2" style="padding-left:40px" [style.display]="ShowPurchaseInvoice">
          <div class="form-group">
            <div class="inner-addon left-addon">
              <i class="fa fa-tag" style="font-size:medium" aria-hidden="true"></i>
              <input type="text" class="form-control" [(ngModel)]="invoice_NO" id="InvoiceNo" tabindex="1" disabled="disabled" />
            </div>
          </div>
        </div>
        <div class="col-md-2" style="padding-left:40px" [style.display]="ShowPurchaseInvoice">
          <div class="form-group">
            <div class="inner-addon left-addon">
              <i class="fa fa-money" style="font-size:medium" aria-hidden="true"></i>
              <input type="text" class="form-control" [(ngModel)]="invoice_Amount" id="invoiceAmount" tabindex="1" disabled="disabled" />
            </div>
          </div>
        </div>
      </div>
      <div class="row table-shadow-padding">


        <table class="table table-hover table-striped table-shadow" style="width:100%">
          <thead style="display: block;width:98%;">
            <tr class="thclr row">
              <th style="width:2%;margin-left:15px">Sr#.</th>
              <th style="width:26%">Item</th>
              <th style="width:10%">Unit Price</th>
              <th style="width:8%">Qty.</th>
              <th style="width:10%">Cost</th>
              <th style="width:8%">Disc. Rate</th>
              <th style="width:10%">Discount </th>
              <th style="width:7%">
                <div *ngIf="hideTax; then lbltaxrate else lbltaxrate1"> </div>
                <ng-template #lbltaxrate>
                  <span ng-show="hideTax">T. Rate</span>
                </ng-template>
              </th>
              <th style="width:7%">
                <div *ngIf="hideTax; then lbltax else lbltax1"> </div>
                <ng-template #lbltax>
                  <span ng-show="hideTax">Tax</span>
                </ng-template>
              </th>
              <th style="width:10%">Net Amount</th>
            </tr>
          </thead>
          <tbody style="min-height: 200px;max-height: 300px;overflow: hidden scroll;display: block;width:100%;">
            <tr *ngFor="let i of PurchaseReturnInvoiceDetail let idx = index" class="row">
              <td style="width:2%;margin-left:15px">{{idx+1}}</td>
              <td style="width:26%">
                <span>{{i.item_Name}}</span>
              </td>
              <td style="width:10%">
                <input type="number" onClick="this.select();" [(ngModel)]="i.unit_Price" class="form-control" />
              </td>
              <td style="width:8%">
                <span>   {{i.quantity}}</span>
              </td>
              <td style="width:10%">
                {{(i.quantity) * (i.unit_Price)| number:'1.2-5'}}
              </td>
              <td style="width:8%">
                <input type="number" onClick="this.select();" [(ngModel)]="i.discount_Rate" class="form-control" min="0" max="100" (change)="changeRate(i)" />
              </td>
              <td style="width:10%">
                {{(i.quantity) * (i.unit_Price) * (i.discount_Rate)/100 | number:'1.2-5'}}
              </td>
              <td style="width:7%">
                <div *ngIf="hideTax; then rate else rate1"> </div>
                <ng-template #rate>
                  <span ng-show="hideTax">
                    {{i.tax_Rate}}
                  </span>
                </ng-template>
              </td>
              <td style="width:7%">
                <div *ngIf="hideTax; then tax else tax1"> </div>
                <ng-template #tax>
                  <span ng-show="hideTax">
                    <!--{{((i.quantity * i.unit_Price) -  ((i.quantity * i.unit_Price) * i.discount_Rate/100))/100 * i.tax_Rate | number:'1.2-5'}}-->
                    {{i.tax_Amount}}
                  </span>
                </ng-template>
              </td>
              <td style="width:10%">
                <div *ngIf="hideTax; then lblNet else lblNet1"> </div>
                <ng-template #lblNet>
                  {{i.net_Amount}}
                  <!--{{((i.quantity * i.unit_Price) - ((i.quantity) * (i.unit_Price) * (i.discount_Rate)/100)) + ((i.quantity * i.unit_Price) -  ((i.quantity * i.unit_Price) * i.discount_Rate/100))/100 * i.taxRate | number:'1.2-5'}}-->
                </ng-template>
                <ng-template #lblNet1>

                  {{(i.quantity * i.unit_Price) - ((i.quantity * i.unit_Price) * (i.discount_Rate)/100) | number:'1.2-5'}}
                </ng-template>

              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer"></div>
      <div class="row">
        <div class="col-md-1">
          <span>Description:</span>
        </div>
        <div class="col-md-5" style="padding-left:20px">
          <div class="inner-addon left-addon">
            <i class="fa fa-align-justify  " style="font-size:medium" aria-hidden="true"></i>
            <fieldset class="form-group">
              <textarea [(ngModel)]="remarks" id="de" name="textarea" placeholder="Please text here..." class="form-control" style="height:auto;"
                        rows="4"></textarea>
            </fieldset>
          </div>
        </div>
        <div class="col-md-1"></div>
        <!--<div class="col-md-2">
          <div>
            <span style="font-weight: bold; margin-right:10px">
              Total Amount:
            </span>
            <span style="font-weight: bold;float:right;">
              {{TotalCost()}}
            </span>
          </div>
          <div>
            <span style="font-weight: bold; margin-right:10px">
              Total Discount:
            </span>
            <span style="font-weight: bold;float:right;">
              {{ TotalDiscount() }}
            </span>
          </div>

          <div id="lblTotalTax">
            <span style="font-weight: bold; margin-right:10px;">
              Total Tax:
            </span>
            <span style="font-weight: bold;float:right;">
              {{ TotalTax() }}
            </span>
          </div>
          <div>
            <span style="font-weight: bold; margin-right:10px">
              Net Amount:
            </span>
            <span style="font-weight: bold;float:right;">
              {{ TotalAmount() }}
            </span>
          </div>
        </div>-->

        <div class="col-md-3">
          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <span>Total Amount:</span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="inner-addon left-addon">
                  <i class="fa fa-money " style="font-size:medium" aria-hidden="true"></i>
                  <input class="form-control" [ngModel]="TotalCost()   | number : '1.2-5'" readonly />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <span>Total Discount:</span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="inner-addon left-addon">
                  <i class="fa fa-money " style="font-size:medium" aria-hidden="true"></i>
                  <input class="form-control" [ngModel]="TotalDiscount()   | number : '1.2-5'" readonly />
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="lblTotalTax">
            <div class="col-md-4">
              <div class="form-group">
                <span>Total Tax:</span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="inner-addon left-addon">
                  <i class="fa fa-money " style="font-size:medium" aria-hidden="true"></i>
                  <input class="form-control" [ngModel]="TotalTax()   | number : '1.2-5'" readonly />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <span>Frieght:</span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="inner-addon left-addon">
                  <i class="fa fa-money" aria-hidden="true"></i>
                  <input type='number' onClick="this.select();" class="form-control" id="freight" [(ngModel)]="freight_Chrgs" min="0" (change)="TotalAmount()" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <span>Net Amount:</span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="inner-addon left-addon">
                  <i class="fa fa-money " style="font-size:medium" aria-hidden="true"></i>
                  <input class="form-control" [ngModel]="TotalAmount()   | number : '1.2-5'" readonly />

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="modal-footer">
      <div class="row" style="position: absolute;left: 30px;">      
        <!--Cancel Order-->
        <div *ngIf="mode; then submitcancel "> </div>
        <ng-template #submitcancel>
          <button  type="button" id="cancelBtn" class="btn btn-small btn-warning tip" (click)="cancelInvoice()"><i class="fa fa-minus-square-o" aria-hidden="true"></i>Cancel</button>
        </ng-template>
     </div>     
      <!--Save-->
      <button id="submitAdd" type="button" class="btn btn-small btn-warning tip" (click)="saveInvoice(purchase_Return_Invoice_ID, return_Invoice_Date, 1,1,supplier_ID, purchase_Return_ID, TotalCost(), TotalDiscount(), TotalTax(), TotalAmount(), 0, 0, remarks)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save & Close</button>
      <!--Update-->
      <button id="submitUpdate" type="button" class="btn btn-small btn-warning tip" (click)="updateInvoice(purchase_Return_Invoice_ID, return_Invoice_Date, 1,1,supplier_ID, purchase_Return_ID, TotalCost(), TotalDiscount(),TotalTax(),TotalAmount(), 0, 0, remarks)"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save & Close</button>
      <!--Cancel-->
      <button type="button" id="x" class="btn btn-small" (click)="c('Close click')"><i class="fa fa-window-close-o" aria-hidden="true"></i>Close</button>
    </div>
  </ng-template>
</div>
