
<div class='container-fluid'>
  <div class='row'>
    <div [class]="card1style">
      <div class="row  card-header" style="height:40px;">
        <div class="col-md-10" style="padding-top:5px;">
          <div class="page-title-list">

            <span style="font-size:large;font-weight:bold;">Customer Category</span>
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group pull-right">
            <input class="form-control" type="text" name="search" placeholder="search..." [(ngModel)]="ID" style="float:left; width:100px;margin:3px;">
            <button class=" btn btn-small btn-warning tip" style="margin:3px;" (click)="Add()" [style.display]="addbutton">
              <i class="fa fa-plus"></i>
            </button>
          </div></div>
        </div>
        <div class="card-body table-responsive" style="padding:5px;">
          <table class="table table-hover table-striped" style="box-shadow: -2px 5px 10px 1px rgba(0,0,0,.176)">
            <thead>
              <tr class="thclr">
                <th>ID</th>
                <th>Tax Term</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <!-- <spinner [visible]="isLoading" style="position: absolute;left: 50%; "></spinner>-->
              <tr *ngFor="let u of grid  | paginate: { itemsPerPage: 20, currentPage: p};">
                <td>{{u.taxtermcode}}</td>
                <td>{{u.taxtermname}}</td>
                <td>
                  <div *ngIf="true == u.active; then on else off"></div>

                  <ng-template #on>
                    Active
                  </ng-template>
                  <ng-template #off>
                    Disabled
                  </ng-template>
                  <div class="btn-group" style="float:right; " [style.display]="addbutton">
                    <button class="btn btn-small btn-warning tip" (click)="getDetailsByID(u.taxtermcode);Edit();" id="edit">
                      <span class="fa fa-pencil"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event" style="float:right;"></pagination-controls>
        </div>

      </div>
      <div [class]="card2style" style="padding:0px;margin:0px;border:0px;min-height:600px;" [style.display]="card2display">
        <div class="card-header" style="height:40px;">
          <div class="page-title-list">

            <span style="font-size:large;font-weight:bold;">Tax Term Detail</span>
          </div>
        </div>
        <div class="card-body" style="margin-top:20px;">
          <div class='container-fluid'>
            <div class='row'>
              <div class="col-md-4">
                <span>Tax Term</span>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="taxtermname" id="taxtermname">
                </div>
              </div>
            </div>
            <div class='row'>
              <div class="col-md-4">
                <span>Status</span>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="checkbox" [(ngModel)]="active" id="active" />
                </div>
              </div>
            </div>
            <div class='row'>
              <div class="col-md-4"></div>
              <div class="col-md-6">
                <button type="button" class=" btn" style="float:right;margin:3px;" (click)="Cancel()"><i class="fa fa-window-close-o" aria-hidden="true"></i>Cancel</button>
                <button type="button" class="btn btn-warning tip" style="float:right;margin:3px;" [style.display]="ShowEmp1"
                        (click)="saveData()">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>    Save
                </button>
                <button type="button" class="btn btn-warning tip" style="float:right;margin:3px;" [style.display]="ShowEmp2"
                        (click)="updateData()">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>     Save
                </button>
              </div>
            </div>

          </div>
    </div>
  </div>
    </div></div>
