<!-- Row -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">

      <div class="row card-header">
        <div class="col-md-10" style="padding-top:5px;">
          <span style="font-size:large;font-weight:bold;"> {{FUNCTIONALITYNAME}} </span>
        </div>
        <div class="col-md-2">
          <div class="input-group pull-right">
            <input type="text" style="margin-right:5px;" #input (keyup)="searchSaleInvoices(input.value)" [(ngModel)]="invoice_ID" id="invoice_ID" placeholder="search..." class="form-control" />
            <button [style.display]="PermissionAdd" class=" btn btn-small btn-warning tip" id="myInput" (click)="open(contentMultiple)">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>


      <div class="row" *ngIf="isLoading" style="background-color:transparent; width: 100%;height:100vh;position :absolute;z-index:10000;overflow:hidden;">

        <spinner [visible]="isLoading" style="position: absolute;left: 50%;z-index:10010"></spinner>

      </div>




    </div>
  </div>
</div>

<!-- End Row -->
<!-- Row -->
<div class="row">

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" style="font-weight: bold;">
        {{FUNCTIONALITYDETAILNAME}}
      </h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--<div id="alertWarning" style="display:none">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
    </div>-->

    <div class="modal-body">
      <div class="row" style="padding-bottom:5px;">
        <div class="col-md-2">
          <span>Date:</span>
        </div>
        <div class="col-md-10" style="text-align:right">
          <span>Balance:</span>
        </div>
      </div>
      <div class="row">

        <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="dp" [(ngModel)]="invoice_Date.model" ngbDatepicker #dd="ngbDatepicker" (ngModelChange)="changeInvoiceDate($event)">
              <div class="input-group-append">
                <button class="btn btn-small " (click)="dd.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10" style="text-align:right">
          <span style="font-size:30px;font-weight:600">PKR {{TotalAmount() | number: '1.2-5'}}</span>
        </div>
      </div>
      <div class="row" style="padding-bottom:5px;">
        <div class="col-md-2" [style.display]="areashow">
          <span>Area:</span>
        </div>
        <div class="col-md-4">
          <span>Customer:</span>
        </div>
        <div class="col-md-2">
          <span>Order/GDN:</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2" [style.display]="areashow">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="areacode" id="areacode" (change)="getPendingCustomer(areacode,0)">
              <option *ngFor="let i of area " [value]="i.areacode">{{i.areaname}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ng-select2 [data]="customers" id="customer_ID" [value]="customer_ID" (valueChanged)="changeCustomer($event)" [width]="400">
            </ng-select2>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select id="sale_Order_ID" [(ngModel)]="sale_Order_ID" (change)="changeOrder(customer_ID,sale_Order_ID)" class="form-control">
              <option *ngFor="let o of orders" [value]="o.sale_Order_ID">{{o.sO_NO}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row table-shadow-padding">

        <table class="table table-hover table-striped table-shadow-padding">
          <thead style="display: block;width:99%;">
            <tr class="thclr  row">
              <th style="width:4%;margin-left:15px;">Sr#.</th>
              <th style="width:26%">Item</th>
              <th style="width:5%">
                <div *ngIf="hideStock; then lblstock else lblstock1"> </div>
                <ng-template #lblstock>
                  <span ng-show="hideStock">Stock</span>
                </ng-template>
              </th>
              <th style="width:5%">
                <div *ngIf="hidePending; then lblPending else lblPending1"> </div>
                <ng-template #lblPending>
                  <span ng-show="hidePending">Pending</span>
                </ng-template>
              </th>
              <th style="width:7%">Unit Price</th>
              <th style="width:5%">Qty</th>
              <th style="width:10%">Cost</th>
              <th style="width:7%">Disc. Rate</th>
              <th style="width:7%">Discount </th>
              <th style="width:7%">
                <div *ngIf="hide; then lbltaxrate else lbltaxrate1"> </div>
                <ng-template #lbltaxrate>
                  <span ng-show="hide">Tax Rate</span>
                </ng-template>
              </th>
              <th style="width:5%">
                <div *ngIf="hide; then lbltax else lbltax1"> </div>
                <ng-template #lbltax>
                  <span ng-show="hide">Tax</span>
                </ng-template>
              </th>
              <th style="width:10%">Net Amount</th>
            </tr>
          </thead>
          <tbody style="min-height: 300px;max-height: 500px;overflow: hidden scroll;display: block;width:99%;">
            <tr *ngFor="let i of saleInvoiceDetails let idx = index" class="row">
              <td style="width:4%;margin-left:25px">{{idx+1}}</td>
              <td style="width:26%">
                <span>{{i.item_Name}}</span>
                <span>{{i.item_Code}}</span>
                <div *ngIf="i.scheme=='1'; then packet else box"> </div>
                <ng-template #packet>
                  - PACKET
                </ng-template>
              </td>
              <td style="width:5%">
                <div *ngIf="hideStock; then stock else stock1"> </div>
                <ng-template #stock>
                  <span ng-show="hideStock"> {{i.stock_Qty}}</span>
                </ng-template>
              </td>
              <td style="width:5%">
                <div *ngIf="hidePending; then pen else pending1"> </div>
                <ng-template #pen>
                  <span ng-show="hidePending"> {{i.pending}}</span>
                </ng-template>
              </td>
              <td style="width:7%">
                <span>{{i.unit_Price | number:'1.2-5'}}</span>
              </td>
              <td style="width:5%">
                {{(i.quantity)}}
              </td>
              <td style="width:10%">
                {{(i.quantity) * (i.unit_Price) | number:'1.2-5'}}
              </td>
              <td style="width:7%">
                <input type="number" [(ngModel)]="i.discount_Rate" style="width:80%" class="form-control" (change)="changeDiscountRate(i,i.discount_Rate)" />
              </td>
              <td style="width:7%">
                {{(i.quantity) * (i.unit_Price) * (i.discount_Rate)/100 | number:'1.2-5'}}
              </td>
              <td style="width:7%">
                <div *ngIf="hide; then tax else tax1"> </div>
                <ng-template #tax>
                  <span ng-show="hide"> {{ i.tax_Rate}}</span>
                </ng-template>
              </td>

              <td style="width:5%">
                <div *ngIf="hide; then tax else tax1"> </div>
                <ng-template #tax>
                  <span ng-show="hide"> {{((i.quantity * i.unit_Price) -  ((i.quantity * i.unit_Price) * i.discount_Rate/100))/100 * i.tax_Rate | number:'1.2-5'}}</span>
                </ng-template>
              </td>

              <td style="width:10%">
                <div *ngIf="hide; then lblNet else lblNet1"> </div>
                <ng-template #lblNet>
                  {{((i.quantity * i.unit_Price) - ((i.quantity) * (i.unit_Price) * (i.discount_Rate)/100)) + ((i.quantity * i.unit_Price) -  ((i.quantity * i.unit_Price) * i.discount_Rate/100))/100 * i.tax_Rate | number:'1.2-5'}}
                </ng-template>
                <ng-template #lblNet1>
                  {{(i.quantity) * (i.unit_Price) - ((i.quantity) * (i.unit_Price) * (i.discount_Rate)/100) | number:'1.2-5'}}
                </ng-template>
              </td>
              <!--<td style="padding: 0px; ">
                <div class="btn-group">
                  <button class="btn btn-small btn-danger tip" data-original-title="Delete user" type="button" value="Delete" ng-click="removeItem($index)"
                          id="remove">
                    <span class="icon-remove icon-white"></span>
                  </button>
                </div>
              </td>-->
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer"></div>
      <div class="row">
        <div class="col-md-1">
          <span>Description:</span>
        </div>
        <div class="col-md-5">
          <fieldset class="form-group">
            <textarea [(ngModel)]="remarks" id="de" name="textarea" placeholder="Please text here..." class="form-control" style="height:auto;"
                      rows="4"></textarea>
          </fieldset>
        </div>
        <!--<div class="col-md-1">

          <div class="row" id="freightlbl">
            <div class="form-group">
              <span>    (+)Freight:</span>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <span>(-)Special Discount:</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row" id="freighttxt">
            <input type='number' class="form-control" style="width:50%" [(ngModel)]="freight_Chrgs" min="0" (change)="changeFreightChrgs(freight_Chrgs)" />
          </div>
          <div class="row">
            <input type='number' style="width:50%" class="form-control" [(ngModel)]="specialDiscount" (change)="changeSpecialDiscount(specialDiscount)" />
          </div>
        </div>-->

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-4" id="freightlbl">
              <div class="form-group">
                <span>(+)Freight:</span>
              </div>
            </div>
            <div class="col-md-8" id="freighttxt">
              <div class="form-group">
                <input type='number' class="form-control" style="width:50%" [(ngModel)]="freight_Chrgs" min="0" (change)="changeFreightChrgs(freight_Chrgs)" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <span>(-)Special Discount:</span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <input type='number' style="width:50%" class="form-control" [(ngModel)]="specialDiscount" (change)="changeSpecialDiscount(specialDiscount)" />
              </div>
            </div>
          </div>


        </div>

        <!--<div class="col-md-2">
          <div>
            <span style="font-weight: bold; margin-right:10px">
              Total Amount:
            </span>
            <span style="font-weight: bold;float:right;">
              {{TotalCost()}}
            </span>
          </div>
          <div>
            <span style="font-weight: bold; margin-right:10px">
              Total Discount:
            </span>
            <span style="font-weight: bold;float:right;">
              {{ TotalDiscount() }}
            </span>
          </div>
          <div>
            <span style="font-weight: bold; margin-right:10px">
              Total Tax:
            </span>
            <span style="font-weight: bold;float:right;">
              {{ TotalTax() }}
            </span>
          </div>
          <div>
            <span style="font-weight: bold; margin-right:10px">
              Net Amount:
            </span>
            <span style="font-weight: bold;float:right;">
              {{total_Amount}}
            </span>
          </div>

          <div id="payment">
            <span style="font-weight: bold; margin-right:10px">
              Payment:
            </span>
            <span style="font-weight: bold;float:right;">
              <input type='number' class="form-control" style="width:100px" [(ngModel)]="paidAmount" min="0" (change)="changePaidAmount(paidAmount)" />
            </span>
          </div>

        </div>-->
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <span>Total Amount:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" [ngModel]="TotalCost()   | number : '1.2-5'" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <span>Total Discount:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" [ngModel]="TotalDiscount()   | number : '1.2-5'" readonly />
              </div>
            </div>
          </div>
          <div class="row" id="lblTotalTax">
            <div class="col-md-6">
              <div class="form-group">
                <span>Total Tax:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" [ngModel]="TotalTax()   | number : '1.2-5'" readonly />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <span>Net Amount:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control" [ngModel]="TotalAmount()   | number : '1.2-5'" readonly />
              </div>
            </div>
          </div>
          <div class="row" id="payment">
            <div class="col-md-6">
              <div class="form-group">
                <span>Payment:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type='number' class="form-control" id="paidAmount" [(ngModel)]="paidAmount" min="0" (change)="changePaidAmount(paidAmount)" />
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row" [style.display]="ShowAttachment">
        <div class="col-sm-2">
          <div class="form-group">
            <span>Attachment:</span>
          </div>
        </div>
      </div>
      <div class="row" [style.display]="ShowAttachment">

        <div class="col-sm-2">
          <div class="form-group">
            <div class="image-upload">

              <label for="file-input">
                <img [src]="imageUrl" style="width:100px;height:100px;position: absolute;cursor:pointer">
              </label>
              <input id="file-input" type="file" (change)="handleFileInput($event.target.files)" style="display:none;" />
            </div>
          </div>
        </div>

        <div class="col-sm-10">

          <table class="table table-hover table-striped table-shadow">
            <thead style="display: block;width:98%;">
              <!--<tr class="thclr row">
                <th style="width:4%;margin-left:15px">Sr#.</th>
                <th style="width:83%">Attachments</th>
                <th style="width:10%"></th>
              </tr>-->
            </thead>
            <tbody style="height: 100px;overflow: hidden scroll;display: block;width:100%;">
              <tr *ngFor="let i of attachments let idx = index" class="row">
                <td style="width:4%;margin-left:15px">{{idx+1}}</td>
                <td style="width:83%;cursor:pointer;" (click)="getAttachmentByID(i.fileId)">
                  {{i.fileName}}
                </td>
                <td style="width:10%">
                  <div class="btn-group" style="float:right; ">
                    <button class="btn btn-small btn-warning tip" (click)="getAttachmentByID(i.fileId)">
                      <span class="fa fa-eye"></span>
                    </button>
                    <button class="btn btn-small btn-danger tip" data-original-title="Remove" type="button" value="Delete" [style.display]="PermissionEdit" (click)="cancelFile(i.fileId)"
                            id="remove">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="row" style="position: absolute;left: 30px;">
        <!--Cancel Invoice-->
        <div *ngIf="mode; then submitcancel "> </div>
        <ng-template #submitcancel>
          <button [style.display]="PermissionDelete" type="button" id="cancelBtn" style=" cursor:pointer; margin-right:5px;" class="btn btn-small btn-warning tip" (click)="cancelInvoice();"><i class="fa fa-minus-square-o" aria-hidden="true"></i>Cancel</button>
        </ng-template>
        <!--RDLC Show-->
        <button type="button" id="viewRDLC" class="btn btn-small btn-warning tip" style="cursor:pointer; margin-left:5px;" (click)="onNavigate('/si-rpt-rdlc')"><i class="fa fa-eye"></i></button>


        <!--Excel Show-->
        <button type="button" id="viewExcel" style="cursor:pointer; margin-left:5px;" class="btn btn-small btn-warning tip" (click)="onNavigate('/si-rpt-excel')"><i class="fa fa-file-excel-o"></i></button>

        <div id="viewStamp">
          <span>Certificate</span>
          <input type="checkbox" id="isStamp" name="isStamp" [(ngModel)]="isStamp" style="margin: 10px 3px 3px 4px" (change)="changeStamp(isStamp)" />
        </div>

        <div style="margin-top: 10px;" [style.display]="templateshow">
          <span>Template</span>
        </div>


        <div class="col-md-2" style="margin-top: 5px;" [style.display]="templateshow">

          <select [(ngModel)]="templatecode" id="templatecode">
            <option *ngFor="let u of companytemplate " [value]="u.templatecode">{{u.templatename}}</option>
          </select>

        </div>

      </div>
      <!--Exchange Check-->
      <div id="ex">
        <span>Exchange</span>
        <input type="checkbox" id="exchange" name="exchange" [(ngModel)]="exchange" />
      </div>
      <!--Show Invoice View-->
      <div id="viewBtn">
        <span>Show</span>
        <input type="checkbox" id="isView" name="isView" [(ngModel)]="isView" />
      </div>

      <!--GDN Show-->
      <div id="showGDN">
        <span> GDN</span>
        <input type="checkbox" name="allowInvoice" [(ngModel)]="allowInvoice" (change)="changeGDN(allowInvoice)" id="checkboxGDN" />
      </div>

      <div *ngIf="mode; then submitUpdate else  submitAdd "> </div>
      <ng-template #submitAdd>
        <button id="submitAddMore" type="button" class="btn btn-small btn-warning tip" (click)="saveMoreInvoice(sale_Invoice_ID, invoice_Date,1,customer_ID, sale_Order_ID, TotalCost(), TotalDiscount(), 0,freight_Chrgs, total_Amount,  remarks)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save More</button>
        <!--Save-->
        <button id="submitAdd" type="button" class="btn btn-small btn-warning tip" (click)="saveInvoice(sale_Invoice_ID, invoice_Date,1,customer_ID, sale_Order_ID, TotalCost(), TotalDiscount(), 0,freight_Chrgs, total_Amount,  remarks)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      </ng-template>
      <ng-template #submitUpdate>
        <button [style.display]="PermissionEdit" id="submitUpdate" type="button" class="btn btn-small btn-warning tip" (click)="updateInvoice(sale_Invoice_ID, invoice_Date,1,customer_ID, sale_Order_ID, TotalCost(), TotalDiscount(), 0,freight_Chrgs, total_Amount,  remarks)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      </ng-template>


      <button type="button" id="x" class="btn btn-small" (click)="c('Close click'); "><i class="fa fa-window-close-o" aria-hidden="true"></i> Close</button>

    </div>
  </ng-template>
</div>
<!-- Row -->
<div class="row">

  <ng-template #contentMultiple let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" style="font-weight: bold;">
        {{FUNCTIONALITYDETAILNAME}}
      </h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');routeInvoice();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="alertWarning" style="display:none">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
    </div>

    <div class="modal-body">
      <div class="row" style="padding-bottom:5px;">
        <div class="col-md-2">
          <span>Date:</span>
        </div>
        <div class="col-md-10" style="text-align:right">
          <span>Amount:</span>
        </div>
      </div>
      <div class="row">

        <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="dp" [(ngModel)]="invoice_Date.model" ngbDatepicker #dd="ngbDatepicker" (ngModelChange)="getPendingOrderDayWise(areacode)">
              <div class="input-group-append">
                <button class="btn btn-small " (click)="dd.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10" style="text-align:right">
          <span style="font-size:30px;font-weight:600">PKR {{calculatePaymentTotals() | number: '1.2-5'}}</span>
        </div>
      </div>
      <div class="row" style="padding-bottom:5px;">
        <div class="col-md-2" [style.display]="areashow">
          <span>Area:</span>
        </div>

        <div class="col-md-2">
          <span>Total Deposit:</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2" [style.display]="areashow">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="areacode" id="areacode" (change)="getPendingOrderDayWise(areacode)">
              <option *ngFor="let i of area " [value]="i.areacode">{{i.areaname}}</option>
            </select>
          </div>
        </div>


        <div class="col-md-2">
          <div class="form-group">
            <input type="number" min="0" class="form-control" [(ngModel)]="TotalDeposit" (change)="matchTotalDeposit()" />
          </div>
        </div>
      </div>
      <div class="row" style="padding-bottom:5px;">


      </div>

      <div class="row table-shadow-padding">

        <table class="table table-hover table-striped table-shadow-padding">
          <thead style="display: block;width:99%;">
            <tr class="thclr  row">
              <th style="width:4%;margin-left:15px;">Sr#.</th>
              <th style="width:26%">Customer</th>
              <th style="width:15%">Order #</th>
              <th style="width:5%">Quantity</th>
              <th style="width:14%">Total Amount</th>
              <th style="width:7%"><input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />Mark</th>
              <th style="width:10%">Payment</th>
              <th style="width:5%"></th>
              <th style="width:7%"></th>
              <th style="width:5%"></th>

            </tr>
          </thead>
          <tbody style="min-height: 300px;max-height: 500px;overflow: hidden scroll;display: block;width:99%;">
            <tr *ngFor="let i of PendingOrders let idx = index" class="row">
              <td style="width:4%;margin-left:25px">{{idx+1}}</td>
              <td style="width:26%"><span>{{i.customer_Name}}</span></td>
              <td style="width:15%"><span>{{i.sO_NO}}</span></td>
              <td style="width:5%"><span>{{i.quantity}}</span></td>
              <td style="width:14%"><span>{{i.total_Amount}}</span></td>
              <td style="width:7%"><span><input type="checkbox" id="action" name="action" [(ngModel)]="i.action" (change)="calculatePaymentTotals();markPayment(idx);" /></span></td>
              <td style="width:10%"><span>  <input type="number" min="0" [(ngModel)]="i.paidAmount" class="form-control" (change)="calculatePaymentTotals();" /></span></td>
            </tr>

          </tbody>
          <thead style="display: block;width:99%;">
            <tr class="thclr  row">
              <th style="width:4%;margin-left:15px;"></th>
              <th style="width:26%"></th>
              <th style="width:10%"></th>
              <th style="width:10%">Total : </th>
              <th style="width:14%"> {{calculateAmountTotals()}}</th>
              <th style="width:5%"></th>
              <th style="width:10%"> {{calculatePaymentTotals()}}</th>
              <th style="width:7%"></th>
              <th style="width:5%"></th>
              <th style="width:5%"></th>

            </tr>
          </thead>
        </table>

      </div>
      <div class="modal-footer"></div>


    </div>

    <div class="modal-footer">



      <div *ngIf="mode; then submitUpdate else  submitAdd "> </div>
      <ng-template #submitAdd>
        <!--<button id="submitAddMore" type="button" class="btn btn-small btn-warning tip" (click)="saveMoreInvoice(sale_Invoice_ID, invoice_Date,1,customer_ID, sale_Order_ID, TotalCost(), TotalDiscount(), 0,freight_Chrgs, total_Amount,  remarks)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save More</button>-->
        <!--Save-->
        <button id="submitAdd" type="button" class="btn btn-small btn-warning tip" (click)="savePendingOrderDayWise(sale_Invoice_ID, invoice_Date,1,customer_ID, sale_Order_ID, TotalCost(), TotalDiscount(), 0,freight_Chrgs, total_Amount,  remarks)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      </ng-template>
      <ng-template #submitUpdate>
        <button [style.display]="PermissionEdit" id="submitUpdate" type="button" class="btn btn-small btn-warning tip" (click)="updateInvoice(sale_Invoice_ID, invoice_Date,1,customer_ID, sale_Order_ID, TotalCost(), TotalDiscount(), 0,freight_Chrgs, total_Amount,  remarks)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      </ng-template>


      <button type="button" id="x" class="btn btn-small" (click)="c('Close click');routeInvoice(); "><i class="fa fa-window-close-o" aria-hidden="true"></i> Close</button>

    </div>
  </ng-template>
</div>
