<!-- Row -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">
      <div class="row card-header" style="height: auto;">
        <div class="col-md-10">
          <span class="input-group" style="font-size:large;font-weight:bold;"> {{FUNCTIONALITYNAME}} </span>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input type="text" #input (keydown.enter)='$event.target.blur()' (blur)="getGrid(input.value)" [(ngModel)]="ID" id="ID" placeholder="search..." class="form-control"  style="margin:1px;">
            <div class="input-group-append order-last">
              <button  [style.display]="PermissionAdd" style="margin: 1px 0px 1px 0px" class=" btn btn-small btn-warning tip" id="myInput" (click)="open(content)">
                <i class="fa fa-plus"></i>
              </button>
            </div>            
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isLoading" style="background-color:transparent; width: 100%;height:100vh;position :absolute;z-index:10000;overflow:hidden;">
        <spinner [visible]="isLoading" style="position: absolute;left: 50%;z-index:10010"></spinner>
      </div>
      <div class="card-body table-responsive table-shadow-padding">
        <table class="table table-hover table-striped table-shadow">
          <thead>
            <tr class="thclr">
              <th>ID</th>
              <th>Asset Code</th>
              <th>Name</th>
              <th>Office</th>
              <th>Depreciation Period</th>
              <th>Depreicated Amount</th>
              <th>Written Down Value</th>
              <th>Fin Year</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- <spinner [visible]="isLoading" style="position: absolute;left: 50%; "></spinner>-->
            <tr *ngFor="let dt of grid | paginate: { itemsPerPage: 14, currentPage: p};">
              <td>{{dt.depreciationID}}</td>
              <td>{{dt.assetno}}</td>
              <td>{{dt.assetname}}</td>
              <td>{{dt.office}}</td>
              <td>{{dt.depperiod}}</td>
              <td>{{dt.depamount}}</td>
              <td>{{dt.writtenvalue}}</td>
              <td>{{dt.finyear}}</td>
              <td>
                <div class="btn-group" style="float:right; ">
                  <button [style.display]="PermissionView"  class="btn btn-small btn-warning tip" (click)="getDetailsByID(dt.depreciationID,content) "
                          id="edit">
                    <span class="fa fa-pencil"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event" style="float:right;"></pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->
<!-- Row -->
<div class="row">
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" style="font-weight: bold;">
        {{FUNCTIONALITYDETAILNAME}}
      </h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div id="alertWarning" style="display:none">
      <p *ngFor="let alert of alerts">
        <ngb-alert [type]="alert.type">{{ alert.message }}</ngb-alert>
      </p>
    </div>

    <div class="modal-body">
      <div class="row">

        <div class="col-md-1">
          
        </div>
        <div class="col-md-3 pl-0">
          <div class="form-group">
            <span>Office:</span>
            <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
              <i class="fa fa-building" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
              <div *ngIf="btnMode; then Office else  UNLOADOffice"> </div>
              <ng-template #Office>
                <select class="form-control" [(ngModel)]="officecode" id="officecode">
                  <option *ngFor="let o of office " [value]="o.officecode">{{o.officename}}</option>
                </select>
              </ng-template>
              <ng-template #UNLOADOffice>
                <select class="form-control" [(ngModel)]="officecode" id="officecode" disabled>
                  <option *ngFor="let o of office " [value]="o.officecode">{{o.officename}}</option>
                </select>
              </ng-template>
            </div>
          </div>
        </div>

      
         <!--<div class="row">

        <div class="col-md-2">
          <span>Calculate Depreciation:</span>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input type="radio" [checked]="intercategory" (click)="changeIO()" tabindex="30">By Category
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input type="radio" [checked]="interitem" (click)="changeID()" tabindex="31">By Item
          </div>
        </div>

         </div>-->
         <div *ngIf="btnMode; then CATROW else  UNLOADCATROW "> </div>
        <ng-template #CATROW>
         
          <div class="col-md-3 ml-4">
            <div class="form-group">
              <span>Category:</span>
              <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
                <i class="fa fa-trello" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
                <select class="form-control" [(ngModel)]="categorycode" id="categorycode" (change)="changeCategory()">
                  <option *ngFor="let o of category " [value]="o.categorycode">{{o.categoryname}}</option>
                </select>
              </div>
            </div>
            </div>
           
          <div class="col-md-3 pl-2 ml-5">
            <div class="form-group">
              <span>Sub Category:</span>
              <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
                <i class="fa fa-flickr " style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
                <select class="form-control" [(ngModel)]="subcategorycode" id="subcategorycode" (change)="changeSubCategory()">
                  <option *ngFor="let o of subcategory " [value]="o.subcategorycode">{{o.subcategoryname}}</option>
                </select>
              </div>
            </div>
            </div>
         </ng-template>
      </div>
        <div class="row">
          <div class="col-md-1">
            
          </div>
          <div class="col-md-3 pl-0">
            <div class="form-group">
              <span>Item:</span>
              <div class="inner-addon left-addon" style="margin-left: 30px;">
                <i class="fa fa-pencil" style="font-size:medium;" aria-hidden="true"></i>
                <ng-select2 [data]="item" id="item" [value]="itemcodeM" (valueChanged)="changeItem($event)" [width]="300">
                </ng-select2>
              </div>
            </div>
          </div> 
        
         <div class="col-md-3 ml-4">
          <div class="form-group">
            <span>Depreciation Rate:</span>
            <div class="inner-addon left-addon" style="width: 300px;margin-left: 30px;">
              <i class="fa fa-money" style="font-size:medium;margin-top: 5px;" aria-hidden="true"></i>
              <input type="text" class="form-control" [(ngModel)]="depreciationrate" id="depreciationrate" readonly>
            </div>
          </div>
         </div>

           
         <div class="col-md-3 pl-2 ml-5">
          <div class="form-group">
            <span>Depreciation Date:</span>
            <div *ngIf="btnMode; then DATE else  UNLOADDATE "> </div>
            <ng-template #DATE>
              <div class="input-group" style="width: 330px;">
                <input class="form-control" name="dp" [(ngModel)]="depreciationdate.model" ngbDatepicker #dd="ngbDatepicker" (ngModelChange)="changeDate($event)">
                <div class="input-group-append" style="margin-top: 5px;">
                  <button class="btn btn-small " (click)="dd.toggle()">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template #UNLOADDATE>
              <div class="input-group" style="width: 330px;">
                <input class="form-control" name="dp" [(ngModel)]="depreciationdate.model" ngbDatepicker #dd="ngbDatepicker" disabled>
                <div class="input-group-append" style="margin-top: 5px;">
                  <button class="btn btn-small " (click)="dd.toggle()" disabled>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-1"></div>
        <div style="margin-bottom: 5px;margin-left: 15px;">
          <div *ngIf="btnMode; then LOAD else  UNLOAD "> </div>
          <ng-template #LOAD>
            <button type="button" class="btn btn-small btn-warning tip" id="review" (click)="getDepreciationRecord()">Calculate</button>
          </ng-template>
        </div>
      </div>
        
        
        


      <div class="row table-shadow-padding">
        <table class="table table-hover table-striped table-shadow-padding">
          <thead style="display: block;width:98%;">
            <tr class="thclr row">
              <th style="width:10%;margin-left:15px;">Asset #</th>
              <th style="width:10%">Name</th>
              <th style="width:10%">Acquisition Date</th>
              <th style="width:10%">Purchase Cost</th>
              <th style="width:10%">Last Depreciation Date</th>
              <th style="width:10%">Opening Balance</th>
              <th style="width:10%">Closing Balance</th>
              <th style="width:10%">Current Depreciation</th>
              <th style="width:10%">Book Value</th>
              <th style="width:8%"><input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" /></th>
            </tr>
          </thead>
          <tbody style="max-height: 300px;overflow: hidden scroll;display: block;width:100%;">
            <tr class="row" *ngFor="let i of DepreciationList">
              <td style="width:10%;margin-left:15px;">{{i.assetNo}}</td>
              <td style="width:10%">{{i.assetName}}</td>
              <td style="width:10%">{{i.creationDate | date:"dd/MM/yy" }}</td>
              <td style="width:10%">{{i.purchaseCost}}</td>
              <td style="width:10%">{{i.lastDepDate | date:"dd/MM/yy" }}</td>
              <td style="width:10%">{{i.openingBalance}}</td>
              <td style="width:10%">{{i.closingBalance}}</td>
              <td style="width:10%">{{i.currentDepreciation}}</td>
              <td style="width:10%">{{i.bookValue}}</td>
              <td style="width:8%"><input type="checkbox" [(ngModel)]="i.active" ></td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
    <!-- <spinner [visible]="isLoading" style="position: absolute;left: 50%; "></spinner>-->
    <div class="modal-footer">
      <!-- <a class="btn btn-secondary" routerLink="/report-tab" newtab>Viewer</a>-->
      <div *ngIf="btnMode; then submitAdd else  submitUpdate "> </div>
      <ng-template #submitAdd>
        <button id="submitAdd" type="button" tabindex="23" class="btn btn-small btn-warning tip" (click)="saveData()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>Save
        </button>
      </ng-template>
      <ng-template #submitUpdate>
        <!--<button id="submitUpdate" type="button" tabindex="23" class="btn btn-small btn-warning tip"  (click)="saveData()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
        </button>-->
      </ng-template>
      <button type="button" id="x" class="btn btn-small" (click)="c('Close click')" tabindex="24"><i class="fa fa-window-close-o" aria-hidden="true"></i>Close</button>
    </div>
  </ng-template>
</div>
